:root {
    --bg-color-header: #ABC3D0;
    --bg-color-header-hover: #91AEBC;
    --bg-color-footer: #364959;
    --bg-color-base: #F2F2F2;
    --font-color-dark: #0D0D0D;
    --font-color-gray: #565656;
    --font-color-light: #F2F2F2;
    --border-color: #BFBFBF;
    --title-color: #0D0D0D;
    --font-family: sans-serif;
    --line-height: 1.6em;
    --header-height: 100px;
    --main-height: 600px;
    --footer-height: 100px;
}

* {
    box-sizing: border-box;
}

.align__right {
    margin: 0 10% 0 auto;
}

.text-align__right {
    text-align: right;
}

.text-align__center{
    text-align: center;
}

.border-bottom {
    border-bottom: 2px solid var(--border-color);
}

.clearfix::after{
    content: "";
    clear: both;
    display: block;
}

.mobile {
    display: none;
}

body {
    font-family: var(--font-family);
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--font-color-dark)
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    list-style: none;
}

img {
    margin: auto;
    display: block;
}

input, textarea {
    width: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 18px;
    border: 1px solid var(--border-color);
}

.fa {
    margin-right: 0.5em;
}

.btn {
    height: 100%;
    display: table;
    /*padding-left: 1em;
    padding-right: 1em;*/
    width: 8em;
    font-weight: 600;
    transition: all .5s;    
}

.btn:hover {
    background-color: var(--bg-color-header-hover);
}

.btn .cell {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.header {
    width: 100%;
    background-color: var(--bg-color-header);
    color: var(--font-color-dark);
    height: var(--header-height);
    display: flex;
    position: fixed;
    justify-content: flex-end;
    z-index: 10;
}

.header-logo {
    margin-left: 0;
    margin-right: auto;
    padding: .5em 2em;
    color: var(--font-color-dark);
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: .05em;
    line-height: 1.3
}

.header-logo img {
    height: 100%;
    width: auto;
    display: block;
}

.header-list {
    padding: 0em 2em;
    color: var(--font-color-dark);
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: .05em;
    line-height: 1.3;
}

.header-list ul {
    height: 100%;
    display: inline-block;
}

.header-list li {
    height: 100%;
    display: inline-block;
}

.header-menu {
    margin-right: 2em;
    display: none;
}

.menu-icon {
    color: var(--font-color-dark);
    font-size: 3em;
    padding: 21px 0;
}

.main {
    background-color: var(--bg-color-base);
    color: var(--font-color-dark);
}

.eyecatch-container {
    width: 100%;
    overflow: hidden;
}

.eyecatch-container img {
    margin: var(--header-height) auto 0 auto;
    width: 100%;
    height: auto;
    display: block;
}

.contents-wrapper {
    padding-top: 2em;
}

.contents-container {
    width: 85%;
    max-width: 800px;
    margin: 0 auto;
}

.contents-container h1 {
    font-size: 2.5em;
    letter-spacing: 0.1em;
}

.contents-item {
    width: 100%;
    display: flex;
    align-items: center;
}

.contents-item-text {
    padding: 10px;
    width: calc(50% - 20px);
    line-height: var(--line-height);
    text-align: justify;
}

.contents-item-text h2 {
    margin-bottom: 0.5em;
}

.contents-item-text h3 {
    color: var(--font-color-gray);
    margin: 0;
    padding: 0;
    font-size: 1.1em;
    font-weight: 600;
    font-family: serif;
}

.contents-item-text p {
    margin-top: 0.25em;
}

.contents-item-image {
    width: 50%;
    height: auto;
}

.contents-item-image .image1, .image2 {
    width: 90%;
    height: auto;
    display: block;
}

.contents-item-image .image3 {
    height: 75%;
    width: auto;
    display: block;
}

.contactform-container {
    width: 400px;
    padding-top: 100px;
    margin: 0 auto;
}

.contact-submit {
    background-color: var(--bg-color-base);
    color: var(--font-color-gray);
  }

.footer {
    color: var(--font-color-light);
    background-color: var(--bg-color-footer);
    height: var(--footer-height);
    padding: 40px;
    display: flex;
    height: auto;
    flex-direction: column;
}

.footer-logo {
    font-size: 32px;
    float: left;
}

.footer-list {
    margin: 0 auto;
    font-size: 1em;
}

.footer-list li {
    float: left;
    padding: 33px 20px;
}

.footer-copy {
    font-size: 0.8em;
}

@media(max-width: 1000px){
    .header-list, .PC {
        display: none;
    }
    
    .header-menu, .mobile {
        display: inline-block;
    }

    .contents-container {
        width: 85%;
        max-width: 500px;
        margin: 0 auto
    }
    
    .contents-container h1 {
        font-size: 2.5em;
        letter-spacing: 0.1em;
    }
    
    .contents-item {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    
    .contents-item-text {
        padding: 10px 10px 0 10px;
        width: calc(100% - 20px);
        line-height: var(--line-height);
        text-align: justify;
    }
    
    .contents-item-text h2 {
        margin-bottom: 0.5em;
    }
    
    .contents-item-text h3 {
        color: var(--font-color-gray);
        margin: 0;
        padding: 0;
        font-size: 1.1em;
        font-weight: 600;
        font-family: serif;
    }
    
    .contents-item p {
        margin-top: 0.25em;
    }
    
    .contents-item-image {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .contents-item-image .image1, .image2{
        width: 90%;
        height: auto;
        display: block;
    }

    .contents-item .swap {
        order: 1;
    }

    .contents-item-image .image3 {
        height: 75%;
        width: auto;
        display: block;
    }
}

@media(max-width: 600px){

}
